@media only screen and (max-width: 1500px) {
    .container{
        max-width: 1500px;
    }
}
@media only screen and (max-width: 1400px) {
    .supreme-title{
        font-size: 4rem;
        margin-left:20rem;
    }
    .newsletter{
        width:14rem;
    }
    .righter {
        margin-right: 5rem;
    }
    .foot {
        margin-top: 3rem;
    }
    .pad-topper {
        text-align: center;
    }
}
@media only screen and (max-width: 1300px) {
            .supreme-title{
                font-size: 4rem;
       margin-left: 20rem;
       width:20rem;
    }
    .righter {
        margin-right: 2rem;
    }
    .foot {
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 992px) {
    .ml-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .hero-banner .slider .slide .image .content {
        left: 0%;
    }
        .supreme-title{
       margin-left: 10rem;

    }
    .righter {
        margin-right: 0rem;
    }
    .img-logo {
        width: 8rem;
    }
    .foot {
        margin-top: 7rem;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
            .supreme-title{
       margin-left: 5rem;
    }
    .sidenav a {
        font-size: 18px;
    }
    .item .content3 {
        right: 12%;
    }
}
