@media only screen and (max-width: 1500px) {
    .container{
        max-width: 1500px;
    }
}
@media only screen and (max-width: 1400px) {
    .supreme-title{
        font-size: 4rem;
        margin-left:31rem;
    }
    .element-to-bet{
        margin-left:8rem;
    }
    .newsletter{
        width:14rem;
    }
    .righter {
        margin-right: 5rem;
    }
    .foot {
        margin-top: 3rem;
    }
    .pad-topper {
        text-align: center;
    }
}
@media only screen and (max-width: 1300px) {
    .supreme-title{
       font-size: 4rem;
       margin-left: 35rem;
       width:20rem;
    }
    .righter {
        margin-right: 2rem;
    }
    .foot {
        margin-top: 5rem;
    }
    .leftDiv{
        margin-left:0px;
    }
    .element-to-bet{
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 1100px) {
    .margin-top-large{
        margin-top: 8rem;
    }
}
@media only screen and (max-width: 992px) {
    .ml-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .hero-banner .slider .slide .image .content {
        left: 0%;
    }
    .margin-top-large{
        margin-top:4rem;
    }
    .supreme-title{
       margin-left: 23rem;

    }
    .righter {
        margin-right: 0rem;
    }
    .img-logo {
        width: 8rem;
    }
    .foot {
        margin-top: 7rem;
    }
    .center-tshirt{
        width: 13rem;
    }
    .stocks-betimg {
        height: 26rem;
    }
    .bet-to-own{
        font-size:24px;
    }
    .item23 .content23 img {
        padding-top: 13rem;
    }
    .bluish{
        font-size: 3rem;
    }
    .resp-marg{
        display: inline-block;
        margin-left: 6rem;
    }
    .custom001{
        width:max-content;
    }
    .bet-img{
        min-height: 26rem;
        min-width: 33rem;
    }
    .mission-par{
        margin-top: 3rem;
        margin-left:1rem;
        font-size: 18px;
    }
    .vision-par{
        margin-left: 3.5rem;
    }
    .withbckreverse{
        margin-left: 1.3rem;
    }
    .contentroad{
        width:10rem;
    }
    .road-par{
        font: normal normal 900 1rem Acumin Variable Concept;
        letter-spacing: 0px;
        color: #010124;
        opacity: 1;
        min-width: 6rem;
        margin-left: 9rem;
    }
    .second-roadPar{
        margin-left: 18rem;
    }
    .second-roadmap{
        margin-top:3.2rem;
    }
    .road-par-grey{
        font: normal normal 900 1rem Acumin Variable Concept;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 0.3;
        margin-left: 22rem;
        min-width: 6rem;
        margin-top: -0.4rem;
    }
    #last-label{
        margin-left:9rem;
    }
    .blogs-title{
        color: #010124;
        font-size: 4rem;
        margin-top: -3.01rem;
    }
    .welcome-title{
        padding-left: 1rem;
        padding-top: 16rem;
    }
    .welcome-to{
        font-size: 1rem;
    }
    .description{
        width: 30rem;
    }
    .row1{
        display:table-row;
    }
    .row2{
        display: table-row;
    }
    .div1-1{
        margin-left:12rem;
    }

    #cont-1{
        position:absolute;
        margin-left: 14rem;
        margin-top: -11rem;
    }
    #cont-2{
        position: absolute;
        margin-left: 14rem;
        margin-top: -11rem;
    }
    #cont-3{
        position: absolute;
        margin-left: 14rem;
        margin-top: -11rem;
    }
    .div1-2{
        margin-left:12rem;
    }
    .div2-1{
        margin-left:12rem;
    }
    .img1-1{
        max-width: 27rem;
        margin-bottom:0.5rem;
    }
    .img1-2{
        max-height: 17rem;
        width: 27rem;
        margin-bottom:0.5rem;
    }
    .img1-3{
        max-height: 17rem;
        width: 27rem;
        margin-bottom:0.5rem;
    }
    .div1-3{
        margin-left:12rem;
    }
    .img2-1{
        max-height: 17rem;
        width: 27rem;
        margin-top:0px;
        margin-bottom:0.5rem;
    }
    .div2-2{
        margin-left:12rem;
    }
    .div2-3{
        margin-left:12rem;
    }
    .img2-2{
        max-height: 17rem;
        width: 27rem;
        margin-top:0px;
        margin-bottom:0.5rem;
    }
    .img2-3{
        max-height: 17rem;
        width: 27rem;
        margin-top:0px;
        margin-bottom:0.5rem;
    }
    #cont-4{
        position: absolute;
        margin-left: 14rem;
        margin-top: -11rem;
    }
    #cont-5{
        position: absolute;
        margin-left: 14rem;
        margin-top: -11rem;
    }
    #cont-6{
        position: absolute;
        margin-left: 14rem;
        margin-top: -11rem;
    }
}

@media only screen and (max-width: 760px) {
    .custom-nav{
        justify-content: end;
        margin-right: 0rem;
    }
    .width-word2{
        margin-left: 0rem !important;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
    }
    .width-word{
        width: 100%;
        margin-left: 0rem !important;
        text-align: center;
    }
    .width-word3{
        margin-left: 0rem !important;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
    }
    .bet-to-own{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin-left: 0rem;
     }
     .descript{
        padding: 4rem;
     }
     .padding-10{
        padding: 2rem;
     }
    .margin-top-large{
        margin-top: 3rem;
    }
    .coming-soon-vlogs{
        margin-top:2rem;
        padding:0rem;
        font-size: 4rem;
        text-align: center;
    }
    .zoomed-tshirts{
        height: 4rem;
    }
    .coming-soon-blogs{
        margin-top:2rem;
        padding:0rem;
        font-size: 4rem;
        text-align: center;
    }
    .mission-par{
        font-size: 13px;
        margin-top: 1rem;
    }
    .top-20{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
    .resp-welc{
        text-align: center;
    }
    .padding-for-sm{
        padding:70px;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
            .supreme-title{
       margin-left: 5rem;
    }
    .sidenav a {
        font-size: 18px;
    }
    .item .content3 {
        right: 12%;
    }
}
@media only screen and (min-width:1800px) and (max-width: 2700px) {
    .supreme-title{
        margin-left: 61rem;
     }
}

@media screen and (max-width: 450px) {
    .supreme-title{
        margin-left: 2.4rem;
        font-size: 2rem;
        max-width: 3rem;
     }
    .chart-image{
        height: 2rem;
     }
     .descript{
        padding: 2rem;
     }
     .zoomed-tshirts{
        height: 3rem;
    }
     .margin-top-large{
         margin-top: 1rem;
     }

     .item2{
         background-size:20rem;
         height:40rem;
     }

     .price-name2{
         max-width:5rem;
         margin-top: 1.2rem;
         margin-left:0px;
         font-size:1rem;
     }
     .left-arrow{
        width: 1.4rem;
        height: 2rem;

     }
     .right-arrow{
        width: 1.4rem;
        height: 2rem;

     }
     .center-tshirt{
        width: 7rem;
     }

     .shirt-details-component{
         display:block;
     }
     .custom001{
         margin-left:0px;
     }
     .tshirt-title{
        font-size: 1.7rem;
        margin-left: 0.5rem;
     }
     .tshirt-description{
        font-size: 1rem;
     }
     .td-price{
        font-size: 1.5rem;
        margin-left: 1.5rem;
        max-width: fit-content;
     }
     .resp-disp{
        max-width: 100%;
        display:unset;
     }
     .buy-now{
         margin-left:2rem;
     }

     .resp-marg{
         margin-left:0px;
     }
     .bet-img{
        min-height: 1rem;
        min-width: 1rem;
        padding-left: 0px;
        width: 14rem;
     }
     .stocks-betimg{
        min-height: 1rem;
        min-width: 1rem;
        padding-left: 0px;
        max-width: 12rem;
        max-height:10rem;
     }
     .price-of-bet{
         font-size:1rem;
     }
     .bet-now-btn{
        max-width: 6rem;
        max-height: 2rem;
     }
     .element-to-bet{
        max-width: 9rem;
        max-height: 10rem;
        margin-left: 1.3rem;
     }
     .leftDiv{
         margin-left:4rem;
     }
     .rightDiv{
        margin-left: 6rem;
        margin-top:3rem;
     }
     .limited{
         padding: 1rem;
     }
     .mission-par{
        font-size: 12px;
        margin-left: 0.2rem;
        max-width: 15rem;
     }
     .withbck{
        height: 8rem;
        width: 23rem;
     }
     .titlem{
        padding-top: 2.5rem;
        padding-left: 2rem;
     }
     .titlemission{
         font-size:2rem;
     }
     .vision-par{
        font-size: 1rem;
        margin-left: 0.2rem;
        max-width: 15rem;
     }
     .withbckreverse{
        height: 8rem;
        width: 23rem;
        margin-left: 7rem;
     }
     .titleroadmap {
        font-size:2rem;
     }
     .road-par{
        font: normal normal 900 0.5rem Acumin Variable Concept;
        letter-spacing: 0px;
        color: #010124;
        opacity: 1;
        min-width: 6rem;
        margin-left: 4rem;
     }
     .second-roadmap{
        margin-top: 1.7rem;
     }
     .suit{
        display:none;
     }
     .roadmap{
         margin-top:49rem;
     }
     .contentroad{
         width:29rem;
     }
     .second-roadPar{
         margin-left:8rem;
     }
     .thirdrow-roadmap{
        margin-left: 7rem;
        margin-top: 0rem;
     }
     .road-par-grey{
         font-size:0.5rem;
         margin-top: -0.4rem;
        margin-left: 10rem;
     }
     .roadmap-margin{
         margin-left:12rem;
     }
     #last-label{
         margin-left:5rem;
     }
     .welcome-title{
         padding-top:19rem;
     }
     .description{
         left:7%;
         top: 39%;
         width:21rem;
     }
    .row1{
        display:table-row;
    }
    .row2{
        display: table-row;
    }
    .div1-1{
        margin-left:1rem;
    }
    #cont-1{
        position:absolute;
        margin-left: 2rem;
        margin-top: -11rem;
    }
    #cont-2{
        position: absolute;
        margin-left: 2rem;
        margin-top: -11rem;
    }
    #cont-3{
        position: absolute;
        margin-left: 2rem;
        margin-top: -11rem;
    }
    .div1-2{
        margin-left:1rem;
    }
    .div2-1{
        margin-left:1rem;
    }
    .img1-1{
        max-width: 20rem;
        margin-bottom:0.5rem;
    }
    .img1-2{
        max-height: 13rem;
        width: 20rem;
        margin-bottom:0.5rem;
    }
    .img1-3{
        max-height: 13rem;
        width: 20rem;
        margin-bottom:0.5rem;
    }
    .div1-3{
        margin-left:1rem;
    }
    .img2-1{
        max-height: 13rem;
        width: 20rem;
        margin-top:0px;
        margin-bottom:0.5rem;
    }
    .div2-2{
        margin-left:1rem;
    }
    .div2-3{
        margin-left:1rem;
    }
    .img2-2{
        max-height: 13rem;
        width: 20rem;
        margin-top:0px;
        margin-bottom:0.5rem;
    }
    .img2-3{
        max-height: 13rem;
        width: 20rem;
        margin-top:0px;
        margin-bottom:0.5rem;
    }
    #cont-4{
        position: absolute;
        margin-left: 2rem;
        margin-top: -11rem;
    }
    #cont-5{
        position: absolute;
        margin-left: 2rem;
        margin-top: -11rem;
    }
    #cont-6{
        position: absolute;
        margin-left: 2rem;
        margin-top: -11rem;
    }
}