@font-face {
    font-family: gos;
    src: url(../fonts/gos.ttf);
}

.righter {
    margin-right: 20rem;
}
.img-logo {
    width: 8rem;
}
.righty {
    text-align: right;
}

body {
    background-color: #010124;
    color: #ffffff;
}
a {
    color: #ffffff;
}
.lrg {
    font-size: 1.5rem;
    padding-right: 2rem !important;
    display: inline-block;
}
.mrgbg {
    margin-right: 15rem;
}
.navbar-nav {
    display: block;
}
.mdmone {
    margin-left: 1rem;
}
.flexer {
    display: flex;
    align-items: center;
}
.mdm {
    padding-right: 1rem;
}
header .logo {
    margin-right: 30px;
    flex: 1.2;
    display: flex;
}
a {
    text-decoration: none;
}

header .logo img {
    height: 115px;
    margin-left: 90px;
}
header nav {
    flex: 1;
}
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
header nav ul li {
    display: inline-block;
    font-size: 24px;
}
header nav ul li a {
    display: inline-block;
    text-decoration: none;
}
.afternav img {
    height: 60px;
    width: 60px;
}
.afternav {
    margin-right: 20px;
}
.last {
    margin-right: 60px;
}
.shopbtn{
    display:flex;
}
.hero-banner .slider .slide .image .content .shopbtn a {
    background-color: #010124;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: large;
    padding-bottom: 5px;
    border-radius: 25px !important;
    text-decoration: none;
}
.hero-banner .slider .slide {
    height: 825px;
    display: flex;
    position: relative;
}
.hero-banner .slider .slide .image {
    flex: 1;
    background-image: url("../images/backgrounds/supreme.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.hero-banner .slider .slide .image .content {
    position: absolute;
    left: 60%;
    right: 0;
    top: 60%;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner .slider .slide .image .contenttitle {
    position: absolute;
    left: 20%;
    right: 0;
    top: 20%;
    color: #010124;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
    margin-top: 8rem;
}
.hero-banner2 .container-fluid h1 {
    color: #08f0fc;
    margin-left: 3rem;
    margin-top: 10rem !important;
}
.shadow {
    display: flex;
}
h1 {
    font-family: "gos";
}
.mt-big {
    margin-top: 8rem;
}
.display-tshirts{
    display:flex;
}
.card{
    display:block;
}
.tshirt-name{
    padding-left: 12rem;
    padding-top: 3rem;
    font: normal normal 900 23px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.add-to-cart{
    background: #2DE86B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-left:12.5rem;
    width: 8rem;
    height: 3rem;
    color: white;
    font-size: 18px;
}
.price{
    text-align: center;
    font: normal normal normal 24px/33px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.item {
    background-image: url(/images/icons/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px;
    height: 32rem;
    position: relative;
}
.item .content2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.item .content2 img {
    max-height: 500px;
    width: 300px;
}
.item .content3 {
    position: absolute;
    left: 20%;
    right: 10%;
    top: 82%;
    width: 280px;
    bottom: 0;
    z-index: 200;
}
.col ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.col ul a {
    text-decoration: none;
}

.footer {
    height: 280px;
    padding: 30px;
    border-top: solid 1px #fff;
}
footer .logo {
    margin-right: 90px;
    margin-left: 90px;
    flex: 0.3;
    display: flex;
}
footer nav ul {
    list-style: none;
}
footer nav ul a {
    text-decoration: none;
    flex: 0.5;
}
.foot1 {
    margin-right: 5rem;
    margin-left: 7rem;
}
.foot2 {
    margin-right: 5rem;
}

.news {
    display: grid;
}
.newsletter {
    border-radius: 10px;
    width: 20rem;
}
.social {
    display: grid;
    margin-left: 1rem;
}

.trademark {
    background-image: url("../images/icons/multicolor.png");
    height: 25px;
    text-align: center;
}
.copyright {
    font-size: small;
    color: #010124;
    align-items: center;
}
.worldimage {
    background-image: url("../images/icons/world.png");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4rem;
}
.worldtitle {
    margin-top: 5rem;
    text-align: center;
    font-family: "gos";
    color: #5aee1a;
}
.card {
    background-color: transparent;
    margin-right: 1rem;
}
.imgblog {
    max-height: 250px;
}
.bluish {
    color: #08f0fc;
    font-size: 70px;
}
.imageblog {
    background-image: url("../images/icons/welcometoblogs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    position: relative;
}
.description {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 0;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010124;
}
.readmore {
    background-color: #5aee1a;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: medium;
    padding-bottom: 5px;
    border-radius: 25px !important;
    color: #fff;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.exit {
    color: #818181;
}
.sidenav a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

button {
    border: none;
    background-color: transparent;
}
.imgtopper {
    padding-top: 2rem;
    text-align: center;
}
.centered2 {
    text-align: center;
}
.pad-topper {
    padding-top: 3rem !important;
}
.centered {
    text-align: center;
    padding-top: 3rem !important;
}
.uniqueshirts {
    color: #08f0fc;
}
.fullvideo {
    width: 100%;
    min-height: 600px;
    max-height: 700px;
}
.welometovlogs {
    position: absolute;
    z-index: 600;
    bottom: 20%;
    left: 15%;
}
.large {
    font-size: large;
}
.small {
    font-size: small;
    width: 200px;
}
.greenish {
    color: #5aee1a;
}
.greenbar {
    width: 100%;
    height: 20px;
}
.buttons {
    text-align: center;
    margin-top: 13rem;
}
.checkout {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: #010124;
    background-color: #fff;
    border: #010124 2px solid;
}
.subtotal {
    padding: 1rem;
    color: #010124;
    background-color: #fafafa;
    display: flex;
    margin-top: 5rem;
    align-items: center;
}
.subtotal-amount {
    margin-left: 10rem;
}
.continue {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    color: #fff;
    background-color: #010124;
}
.wrapper {
    padding: 2.5rem 3.5rem 2rem 3.5rem;
}
.hundred {
    width: 100%;
}
.mission-vision-container{
    display:flex;
}
.mission-par {
    margin-top: 4rem;
    margin-left: 9rem;
    width: 33rem;
    font-size:23px;
}
.vision-par{
    margin-left:10.5rem;
    width:33rem;
    font-size:23px;
    margin-top:3rem;
}
.mariner {
    color: #010124;
    margin-left: 5rem;
}
.mariner2 {
    color: #010124;
}
.mission {
    position: absolute;
    width: fit-content;
    margin-left:3rem;
}
.vision{
    padding-top: 10rem;
}
.suit {
    margin-left: 61rem;
    background: url(../images/icons/suit.png);
    height: 65rem;
    width: 51.2rem;
    background-size: 50rem;
}
.suitImg{
    height:200px;
    width:200px;
    z-index:-1;
}
.withbck {
    background-image: url("../images/icons/title-bck.png");
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: 57rem;
    position: relative;
    margin-left: -3em;
}
.withbck:before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 12rem solid #010124;
    border-left: 10rem solid transparent;
}
.hero-banner9 {
    width: 300px;
    height: 300px;
}
.titlem {
    padding-top:3.5rem;
    padding-left:14rem;
    right: 0;
    bottom: 0;
    color: #010124;
}
.titlemission{
    font-size: 60px;
}
.roadmap {
    position: relative;
    margin-top: -3rem;
    z-index: -1;
}
.titleroadmap {
    color: #010124;
    margin-bottom: 5rem;
    font-size: 60px;
}
.hero-banner10 {
    margin-left: 64.2%;
}
.withbckreverse {
    margin-left: 48.3rem;
    background-image: url(../images/icons/bck-title-reverse.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: 57rem;
    position: relative;
}
.withbckreverse:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 12rem solid #010124;
    border-right: 10rem solid transparent;
}
.titler {
    color: #010124;
    padding-top:3rem;
    padding-left:13rem;
}
.navbar-toggler-icon {
    width: 2.2em;
}
.hero-banner{
    margin-bottom: 5rem;
}
.hero-banner .slider .slide2 .imageroad {
    flex: 1;
    background-image: url("../images/icons/road.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 50px;
}
.hero-banner .slider .slide2 .image .contentroad {
    position: absolute;
    left: 60%;
    right: 0;
    top: 60%;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner .slider .slide2 {
    height: 500px;
    display: flex;
    position: relative;
    width: 100%;
}
.road-par{
    font: normal normal 900 32px/38px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #010124;
    opacity: 1;
    margin-left: 16rem;
    margin-top: 0.4rem;
}
.second-roadPar{
    margin-left: 34rem;
}
.second-roadmap{
    display: flex;
    margin-top: 5.5rem;
}
.thirdrow-roadmap{
    margin-left:26rem;
}
footer {
    border-top: 1px solid #fff;
}
.road-par-grey{
    margin-top: 0.4rem;
    font: normal normal 900 32px/38px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.3;
    margin-left: 27rem;
}
.roadmap-margin{
    margin-left: 41rem;
}
.roadmap-margin2{
    margin-left: 19rem;
}
.supreme-title{
    font-size: 7rem;
    width: 45rem;
    color: black;
    margin-top: 22rem;
    margin-left: 45rem;
}
.left-arrow{
    margin-top: 14rem;
    width: 7rem;
    height: 6rem;
    transform: rotate(180deg);
}
.right-arrow{
    margin-top: 14rem;
    width: 7rem;
    height: 6rem;
}
.center-tshirt{
    width: 27rem;
    height: 32rem;
}
.shirt-details-component{
    margin-top:5rem;
    display:inline-flex;
}
.zoomed-tshirts{
    width:6rem;
    height:6rem;
    border: 4px solid white;
    margin-right:0.3rem;
}
.small-tshirts{
    margin-left:8rem;
    margin-top:2rem;
}
.tshirt-title{
    text-align: left;
    font: normal normal 900 40px/55px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.leftDiv{
    max-width: 45rem;
    margin-left: 8rem;
    margin-right: 6rem;
}
.tshirt-description{
    text-align: left;
    font: normal normal 300 28px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top:2rem;
    max-width: 39rem;
}
.td-price{
    text-align: left;
    font: normal normal 900 24px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 0px;
}
.price-row{
    margin-top:4rem;
}
.nb-price{
    text-align: center;
    font: normal normal normal 24px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-right:9rem;
}
.size-btns{
    width: unset;
    margin-top:4px;
    height: 1.7rem;
    width: 1.7rem;
    background-color: white;
}
.size-btns {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
    z-index: -1;
  }
  .size-btns:checked {
    background-color: #010124;
    background-size: 11px 11px;
  }
  .size-btns:checked ~ label{
    color:white;
  }
.size-letter{
    position: absolute;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    color:#010124;
}
.sizes{
    padding-left:0px;
}
.color-btns{
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
    z-index: -1;
    width: 2rem;
    height: 2rem;
}
#tshirt-white{
    background-color: white;
}
#tshirt-green{
    background-color: green;
}
#tshirt-red{
    background-color: red;
}

.operator{
    border: none;
    background-color: transparent;
    color:white;
}
.buy-now{
    margin-left: 0px;
    margin-top: 2rem;
}
.hyperlink-addToCart{
    text-align: center;
    text-decoration: underline;
    font: normal normal 900 19px Avenir;
    letter-spacing: 0px;
    color: #5AEE1A;
    opacity: 1;
    padding-top:3rem;
}
.limited{
    margin-top:4rem;
    border-top:2px white solid;
}
.bet-to-own{
    text-align: left;
    font: normal normal 900 30px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.stocks-bet{
    max-width: -webkit-fill-available;
}
.price-of-bet{
    text-align: center;
    font: normal normal 900 30px Avenir;
    letter-spacing: 0px;
    color: #08F0FC;
    opacity: 1;
}
.bet-now-btn{
    background: #08F0FC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 9rem;
    height: 3rem;
    margin-left:14rem;
}
.element-to-bet{
    height: 37rem;
    width: 53rem;
    margin-left: 15rem;
    margin-top: 4rem;
}
.merch-titles{
    max-width:15rem;
}

.title-margin{
    margin-top:2rem;
}