@font-face {
    font-family: gos;
    src: url(../fonts/gameofsquids.otf);
}

.righter {
    margin-right: 20rem;
}
.img-logo {
    width: 8rem;
}
.righty {
    text-align: right;
}

body {
    background-color: #010124;
    color: #ffffff;
}
a {
    color: #ffffff;
}
.lrg {
    font-size: 1.5rem;
    padding-right: 2rem !important;
    display: inline-block;
    color: #ffffff;

}
.white-color{
    color:#fff !important;
}
.mrgbg {
    margin-right: 15rem;
}
.navbar-nav {
    display: block;
}
.mdmone {
    margin-left: 1rem;
}
.flexer {
    display: flex;
    align-items: center;
}
.mdm {
    padding-right: 1rem;
}
header .logo {
    margin-right: 30px;
    flex: 1.2;
    display: flex;
}
a {
    text-decoration: none;
}

header .logo img {
    height: 115px;
    margin-left: 90px;
}
header nav {
    flex: 1;
}
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
header nav ul li {
    display: inline-block;
    font-size: 24px;
}
header nav ul li a {
    display: inline-block;
    text-decoration: none;
}
.afternav img {
    height: 60px;
    width: 60px;
}
.afternav {
    margin-right: 20px;
}
.last {
    margin-right: 60px;
}
.shopbtn {
    display: flex;
}
.hero-banner .slider .slide .image .content .shopbtn a {
    background-color: #010124;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: large;
    padding-bottom: 5px;
    border-radius: 25px !important;
    text-decoration: none;
}
.hero-banner .slider .slide {
    height: 825px;
    display: flex;
    position: relative;
}
.hero-banner .slider .slide .image {
    flex: 1;
    background-image: url("../images/backgrounds/supreme.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.hero-banner .slider .slide .image .content {
    position: absolute;
    left: 60%;
    right: 0;
    top: 60%;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stocks-betimg{
    height:30rem;
}
 .contenttitle {
    position: absolute;
    left: 20%;
    right: 0;
    top: 20%;
    color: #010124;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
    margin-top: 8rem;
}
.hero-banner2 .container-fluid h1 {
    color: #08f0fc;
    margin-left: 3rem;
    margin-top: 10rem !important;
}
.shadow {
    display: flex;
}
h1 {
    font-family: "gos";
}
.mt-big {
    margin-top: 8rem;
}
.display-tshirts {
    display: flex;
}
.card {
    display: block;
}
.tshirt-name {
    padding-top: 3rem;
    font: normal normal 900 23px Avenir;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 0;
    opacity: 1;
}
.add-to-cart {
    background: #2de86b 0% 0% no-repeat padding-box;
    box-shadow: -1px 2px 12px 1px rgba(45,232,107,0.75);
    -webkit-box-shadow: -1px 2px 12px 1px rgba(45,232,107,0.75);
    -moz-box-shadow: -1px 2px 12px 1px rgba(45,232,107,0.75);
    border-radius: 10px;
    opacity: 1;
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}
.price {
    text-align: center;
    font: normal normal normal 24px/33px Avenir;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.item {

    background-size: 450px;
    height: 32rem;
    position: relative;
}
.cartitemname{
    color:#010124;
}
.item2 {
    background-size: 450px;
    height: 60rem;
    position: relative;
}
.item23 {
    position: relative;
    margin-bottom:4rem;
}
.item24 {
    background-size: 400px;
    height: 50rem;
    position: relative;
}
.price-name2{
    position: absolute;
    left: 35%;
    right: 0;
    top:85%;
    bottom: 0;
}
.item .content2 img {
    max-height: 550px;
    width: auto;
    max-width: 100%;
}
.item .content3 {
    position: absolute;
    left: 20%;
    right: 10%;
    top: 82%;
    width: 280px;
    bottom: 0;
    z-index: 200;
}
.item2 .content2 img {
    max-height: 500px;
    width: 300px;
}
.item2 .content23 img {
    padding-top: 15rem;
}
.item2 .content3 {
    position: absolute;
    left: 20%;
    right: 10%;
    top: 68%;
    width: 280px;
    bottom: 0;
    z-index: 200;
}
.custom001{
    margin-left:3rem;
}
.item23 .content2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.item23 .content2 img {
    max-height: 500px;
    width: 300px;
}
.item23 .content3 {
    position: absolute;
    left: 20%;
    right: 10%;
    top: 68%;
    width: 280px;
    bottom: 0;
    z-index: 200;
}

.item24 .content2 img {
    max-height: 500px;
    width: 300px;
}
.item24 .content23 img {
    padding-top: 3rem;
}
.item24 .content3 {
    position: absolute;
    left: 20%;
    right: 10%;
    top: 68%;
    width: 280px;
    bottom: 0;
    z-index: 200;
}
.col ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.col ul a {
    text-decoration: none;
}

.footer {
    height: 280px;
    padding: 30px;
    border-top: solid 1px #fff;
}
footer .logo {
    margin-right: 90px;
    margin-left: 90px;
    flex: 0.3;
    display: flex;
}
footer nav ul {
    list-style: none;
}
footer nav ul a {
    text-decoration: none;
    flex: 0.5;
}
.foot1 {
    margin-right: 5rem;
    margin-left: 7rem;
}
.foot2 {
    margin-right: 5rem;
}

.news {
    display: grid;
}
.newsletter {
    border-radius: 10px;
    width: 17rem;
    padding-top:.35rem;
    padding-bottom: .35rem;
}
.social {
    display: grid;
    margin-left: 1rem;
}

.trademark {
    background-image: url("../images/icons/multicolor.png");
    height: 25px;
    text-align: center;
}
.copyright {
    font-size: small;
    color: #010124;
    align-items: center;
}
.worldimage {
    background-image: url("../images/icons/world.png");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4rem;
}
.worldtitle {
    margin-top: 5rem;
    text-align: center;
    font-family: "gos";
    color: #5aee1a;
}
.card {
    background-color: transparent;
    margin-right: 1rem;
}
.imgblog {
    max-height: 250px;
}
.bluish {
    color: #08f0fc;
    font-size: 70px;
}
.bluish2 {
    color: #08f0fc;
}
.imageblog {
    background-image: url("../images/icons/welcometoblogs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    position: relative;
}
.description {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 0;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010124;
}
.readmore {
    background-color: #5aee1a;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: medium;
    padding-bottom: 5px;
    border-radius: 25px !important;
    color: #fff;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.exit {
    color: #818181;
}
.sidenav a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 5%;
    right: 0;
    left: 10%;
    width: 2rem;
    height: 2rem;
    bottom: 0;
    font-size: 36px;
}
#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

button {
    border: none;
    background-color: transparent;
}
.imgtopper {
    padding-top: 2rem;
    text-align: center;
}
.centered2 {
    text-align: center;
}
.pad-topper {
    padding-top: 3rem !important;
}
.centered {
    text-align: center;
    padding-top: 3rem !important;
}
.uniqueshirts {
    color: #08f0fc;
}
.fullvideo {
    width: 100%;
    min-height: 600px;
    max-height: 700px;
}
.welometovlogs {
    position: absolute;
    z-index: 600;
    bottom: 20%;
    left: 15%;
}
.large {
    font-size: large;
}
.small {
    font-size: small;
    width: 200px;
}
.greenish {
    color: #5aee1a;
}
.greenbar {
    width: 100%;
    height: 20px;
}
.cartitemtitle{
    font-size: 1.3rem;
    font-weight: 500;
}
.cartitemvariant{
background-color: #010124;
color:#fff;
}
.buttons {
    text-align: center;
    margin-top: 5rem;
}
.checkout {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: #010124;
    background-color: #fff;
    border: #010124 2px solid;
}
.checkout-btn{
    background-color: #08F0FC;
    color:#fff;
    padding: 0.5rem 3.5rem;
    border-radius: 10px;
}
.subtotal {
    padding: 1rem;
    color: #010124;
    background-color: #fafafa;
    display: flex;
    margin-top: 5rem;
    align-items: center;
}
.subtotal-amount {
    margin-left: 10rem;
}
.continue {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    color: #fff;
    background-color: #010124;
}
.wrapper {
    padding: 5.5rem 4.5rem 2rem 5.5rem;
}
.hundred {
    width: 100%;
}
.cartitemimage{
    width:100%;
}
.mission-vision-container {
    display: flex;
}
.mission-par {
    margin-top: 4rem;
    font-size: 23px;
}
.vision-par {
    margin-left: 10.5rem;
    width: 33rem;
    font-size: 23px;
    margin-top: 3rem;
}
.mariner {
    color: #010124;
    margin-left: 5rem;
}
.mariner2 {
    color: #010124;
}
.mission {
    position: absolute;
    width: fit-content;
    margin-left: 3rem;
}
.vision {
    padding-top: 10rem;
}
.suit {
    margin-left: 52rem;
    height: 65rem;
    width: 32.2rem;
}
.suitImg {
    height: 200px;
    width: 200px;
    z-index: -1;
}
.withbck {
    background-image: url(../images/icons/title-bck.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: 50rem;
    position: relative;
    margin-left: -3em;
}
.withbck:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 12rem solid #010124;
    border-left: 10rem solid transparent;
}
.hero-banner9 {
    width: 300px;
    height: 300px;
}
.titlem {
    padding-top: 3.5rem;
    padding-left: 14rem;
    right: 0;
    bottom: 0;
    color: #010124;
}
.titlemission {
    font-size: 60px;
}
.roadmap {
    position: relative;
    z-index: -1;
    margin-top: -7rem;
}
.titleroadmap {
    color: #010124;
    margin-bottom: 5rem;
    font-size: 60px;
}
.hero-banner10 {
    margin-left: 64.2%;
}
.withbckreverse {
    margin-left: 34.3rem;
    background-image: url(../images/icons/bck-title-reverse.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: 50rem;
    position: relative;
}
.withbckreverse:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 12rem solid #010124;
    border-right: 10rem solid transparent;
}
.titler {
    color: #010124;
    padding-top: 3rem;
    padding-left: 13rem;
}
.navbar-toggler-icon {
    width: 2.2em;
}
.hero-banner {
    margin-bottom: 5rem;
}
.imageroad {
    flex: 1;
    background-image: url("../images/icons/road.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem;
    
}
.contentroad {
    position: absolute;
    left: 60%;
    right: 0;
    top: 60%;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner .slider .slide2 {
    height: 500px;
    display: flex;
    position: relative;
    width: 100%;
}
.road-par {
    font: normal normal 900 32px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #010124;
    opacity: 1;
    margin-left: 14rem;
}
.second-roadPar {
    margin-left: 34rem;
}
.second-roadmap {
    display: flex;
    margin-top: 5.2rem;
}
.thirdrow-roadmap {
    margin-left: 26rem;
}
footer {
    border-top: 1px solid #fff;
}
.road-par-grey {
    margin-top: 0.4rem;
    font: normal normal 900 32px/38px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.3;
    margin-left: 27rem;
}
.roadmap-margin {
    margin-left: 35rem;
    margin-top: -1rem;
}
.roadmap-margin2 {
    margin-left: 19rem;
    margin-top: -1rem;
}
.inside{
    margin-left:-3.3rem;
    margin-bottom: 0.2rem;
}
.inside img{
    margin-bottom: 0.2rem;
}
.supreme-title {
    font-size: 5rem;
    width: 35rem;
    color: black;
    margin-top: 27rem;
    margin-left: 40rem;
}
.left-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    height: 4rem;
}
.right-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    height: 4rem;
}
.center-tshirt {
    background-color: #fff;
}
.shirt-details-component {
    margin-top: 5rem;
    display: inline-flex;
}
.zoomed-tshirts {
    padding-left: 0rem;
    padding-right: 0rem;
    height: 6rem;
    border: 4px solid white;
    background-color: #fff;
}
.small-tshirts {
    padding: 1rem;
}
.tshirt-title {
    text-align: left;
    font: normal normal 900 40px/55px Avenir;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.leftDiv {
    max-width: 45rem;
    margin-left: 8rem;
    margin-right: 6rem;
}
.tshirt-description {
    text-align: left;
    font: normal normal 300 28px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-top: 2rem;
    max-width: 39rem;
}
.td-price {
    text-align: left;
    font: normal normal 900 24px Avenir;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 0px;
}
.price-row {
    margin-top: 4rem;
}
.nb-price {
    font: normal normal normal 24px Avenir;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.size-btns {
    width: unset;
    margin-top: 4px;
    height: 1.7rem;
    width: 1.7rem;
    background-color: white;
}
.size-btns {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
    z-index: -1;
}
.size-btns:checked {
    background-color: #010124;
    background-size: 11px 11px;
}
.size-btns:checked ~ label {
    color: white;
}
.size-letter {
    position: absolute;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    color: #010124;
}
.sizes {
    padding-left: 0px;
}
.color-btns {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
    z-index: -1;
    width: 2rem;
    height: 2rem;
}
#tshirt-white {
    background-color: white;
}
#tshirt-green {
    background-color: green;
}
#tshirt-red {
    background-color: red;
}

.operator {
    border: none;
    background-color: transparent;
    color: white;
}
.buy-now {
    margin-left: 0px;
    margin-top: 2rem;
}
.hyperlink-addToCart {
    text-align: center;
    text-decoration: underline;
    font: normal normal 900 19px Avenir;
    letter-spacing: 0px;
    color: #5aee1a;
    opacity: 1;
    padding-top: 3rem;
}
.limited {
    margin-top: 4rem;
    border-top: 2px white solid;
}
.bet-to-own {
    font: normal normal 900 30px Avenir;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.stocks-bet {
    max-width: -webkit-fill-available;
}
.price-of-bet {
    text-align: center;
    font: normal normal 900 30px Avenir;
    letter-spacing: 0px;
    color: #08f0fc;
    opacity: 1;
}
.bet-now-btn {
    background: #08f0fc 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 9rem;
    height: 3rem;
}
.element-to-bet {
    height: 45rem;
    width: 53rem;
    margin-left: 15rem;
    margin-top: 4rem;
}
.merch-titles {
    max-width: 15rem;
}

.title-margin{
    margin-top:2rem;
}
.welcome-title{
    padding-left: 7rem;
    padding-top: 16rem;
}
.welcome-to{
    color: #010124;
    font-size:3rem;
}
.blogs-title{
    color: #010124;
    font-size:9rem;
    margin-top: -6.01rem;
}
.row1{
    display: -webkit-box;
}
.row2{
    display: -webkit-box;
}
.div1-1{
    margin-left: 8.6rem;
}
.img1-1{
    max-width: 29.3rem;
    border: 4px solid rgb(230,230,240,0.5);
    background: transparent linear-gradient(196deg, #0505056F 0%, #000000FD 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
}
#cont-1{
    position: absolute;
    margin-left: 11rem;
    margin-top: 7rem;
}
.img1-2{
    height: 22rem;
    width: 19rem;
    border: 4px solid rgb(230,230,240,0.5);
    background: transparent linear-gradient(196deg, #0505056F 0%, #000000FD 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
}
#cont-2{
    position: absolute;
    margin-left: 39rem;
    margin-top: 10rem;
}
.img1-3{
    height: 22rem;
    width: 19rem;
    border: 4px solid rgb(230,230,240,0.5);
    background: transparent linear-gradient(196deg, #0505056F 0%, #000000FD 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
}
#cont-3{
    position: absolute;
    margin-left: 58rem;
    margin-top: 10rem;
}
.img2-1{
    height: 22rem;
    width: 19rem;
    margin-top: -4.5rem;
    border: 4px solid rgb(230,230,240,0.5);
    background: transparent linear-gradient(196deg, #0505056F 0%, #000000FD 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
}
#cont-4{
    margin-left: 1rem;
    margin-top: 6rem;
    position: absolute;
}
.img2-3{
    width: 30.1rem;
    border: 4px solid rgb(230,230,240,0.5);
    background: transparent linear-gradient(196deg, #0505056F 0%, #000000FD 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
}
#cont-5{
    position: absolute;
    margin-left: 20rem;
    margin-top: 6rem;
}
#cont-6{
    position: absolute;
    margin-left: 41rem;
    margin-top: 6rem;
}
.img-container{
    max-width:19rem;
    margin-left: 11rem;
    margin-top: 7rem;
    position: absolute;    
}
.img-title{
    text-align: left;
    font: normal normal 900 30px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.img-parag{
    text-align: left;
    font: normal normal 300 20px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0px;
    max-width:20rem;
}
.read-more{
    text-align: left;
    text-decoration: underline;
    font: normal normal 600 18px Acumin Variable Concept;
    letter-spacing: 0px;
    color: #08F0FC;
    opacity: 1;
}
.title-margin {
    margin-top: 2rem;
}
.light-blue{
    background-color: #08F0FC;
    color:#fff;
}
.img-astro{
    width: 100%;
}
.margin-top-large{
    margin-top: 12rem;
}
.loginbtn{
    color:#fff;
    background-color:#5aee1a ;
    padding-left: 3rem;
    padding-right: 3rem;
}
.createbtn{
    color:#fff;
    background-color:#08F0FC ;
    padding-left: 3rem;
    padding-right: 3rem;
}
.phonecode{
    border:none;
    border-radius: .25rem;
    width: 25%;
}
.dropdown-toggle::after{
display:none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.coming-soon-blogs{
    padding:10rem;
    font-size: 7rem;
    color:#08f0fc;
}
.coming-soon-vlogs{
    padding:10rem;
    font-size: 7rem;
    color:#5AEE1A;
}
.top-20{
    margin-top: 20rem;
}
.grid-blog{
      background-image: url("../images/backgrounds/grid-blog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.grid-vlog{
      background-image: url("../images/backgrounds/grid-vlog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.album{
    margin-top:5rem;
}
.centered-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.search{
    width: 20rem;
}
.search-form{
    padding:15px;
}
.righty{
  margin-left:13rem;
  margin-top: 1rem;
}
.ssl{
height: 100%;
margin-left:0.5rem;
vertical-align: bottom;
color: #707070;
font-size: smaller;
}
.vision-title{
    max-height: 15rem;
}
.img-vis{
    max-height: 15rem;
    padding: 0rem;
    margin: 0rem;
}
.round-background{
    background-image: url("../images/backgrounds/round.png");
    background-size: cover;
}
.accordion-item{
    background-color: transparent;
}
.accordion-button{
    background-color: transparent;
    display: contents;
}
.table-cell{
display: table-cell;
}
.v-align{
    vertical-align: middle;
}
.img-small{
    height: 100%;
}
.zoomWrapper{
    width: 100% !important;
    height: inherit !important;
}
.rel-001{
    position: relative !important;
    height: inherit !important;
    width: 100% !important;
}
.wrapper2{
    display: inline-flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  }
  .wrapper2 .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 10px;
    border: 4px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper2 .option .dot{
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
    position: relative;
  }
  .wrapper2 .option .dot::before{
    position: absolute;
    content: "";
    top: 3.5px;
    left: 3.1px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }

  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #08f0fc;
    background: #08f0fc60;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #08f0fc17;
    border:1px solid #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper2 .option span{
    font-size: 16px;
    color: #0F1A21;
    width: 70%;
    text-align: center;
    line-height: 1.2rem;

  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }
  .quantity-count{
      width: 1rem;
      color: #fff;
      background-color: transparent;
      border: none;
  }
  .radio input {
    border: 3px solid #fff;
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	padding: 2px 6px;
    margin: 0 .2rem;
	background: #fff;
	color: #010124;
	font-size: 15px;
	transition: all 100ms linear;
}

.radio input:checked {
	color: #fff;
    background-color: #010124;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
.color-radio{
	width: 2rem !important;
	height: 2rem !important;
    border: none !important;
}
.radio .color-radio:checked {
    border:1px #08f0fc solid !important;
}
#main-body{
    transition: 0.5s;
}
.navbar-collapse{
transition:0.3s
}
.remove-from-cart{
color:#707070;

}
.navig2{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}
.custom-coin{
   
}
.coin-data{
    display: flex;
}
.coin-info{
    display: grid;
    line-height: 0.4rem;
    margin-left: 1rem;
    padding:0.4rem;
}
.chart-image{
    margin: 1rem 0rem;
}